In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('salary_data_cleaned.csv')

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,Company_text,job_state,age,r_studio,aws,excel,python,spark
0,Data Scientist,$70K-$95K (Glassdoor est.),Description\n\nPosition at Homes.com\n\nHomes....,4.3,Homes.com\n4.3,"Norfolk, VA",-1,201 to 500 Employees,1998,Company - Private,...,95,82.5,Homes.co,VA,22,0,0,1,1,0
1,Data Scientist,$70K-$95K (Glassdoor est.),STRATACACHE provides salable customer experien...,3.6,STRATACACHE\n3.6,"Dayton, OH",-1,201 to 500 Employees,1999,Company - Private,...,95,82.5,STRATACACH,OH,21,0,0,1,1,0
2,Sr. Scientist,$70K-$95K (Glassdoor est.),Job Description*\nJoin a rapidly growing start...,-1.0,Stealth Mode Startup,"Newark, CA",-1,-1,-1,-1,...,95,82.5,Stealth Mode Startup,CA,-1,0,0,1,0,0
3,Medical Laboratory Scientist,$70K-$95K (Glassdoor est.),Job Summary:\n\nPerforms and interprets tests ...,3.8,Cleveland Clinic\n3.8,"Akron, OH",-1,10000+ Employees,1921,Nonprofit Organization,...,95,82.5,Cleveland Clini,OH,99,0,0,0,0,0
4,Product Development Scientist,$70K-$95K (Glassdoor est.),What we do\n\nAbout United Therapeutics\n\nUni...,3.4,Cleveland Clinic\n3.8,"Akron, OH",-1,501 to 1000 Employees,1996,Company - Public,...,95,82.5,Cleveland Clini,OH,24,0,0,1,0,0

In [11]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr.' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' or 'junior' in title.lower():
        return 'jr'
    else:
        return 'na'

In [7]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [8]:
df.job_simp.value_counts()

data scientist    292
na                136
data engineer      60
director            7
mle                 3
analyst             2
Name: job_simp, dtype: int64

In [12]:
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

jr        411
senior     89
Name: seniority, dtype: int64

In [15]:
#Job Description Length
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
#df['desc_len']

In [19]:
#Competitor count
df['Competitors'][df['Competitors'] != -1]

Series([], Name: Competitors, dtype: int64)

In [30]:
#Hourly wage to anual, annual = hourly * 2000 approx.
df['min_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly == 1 else x.min_salary, axis = 1)
df['max_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly == 1 else x.max_salary, axis = 1)